body {
  margin: 50px auto;
  width: 60%;
  height: 80%;
  background: #9a9a9a;
  text-align: center;
  border-style: solid;
}

button {
  margin-left: 20px;
}

div {
  margin: auto;
  text-align: left;
  overflow: hidden;
  height: 80%;
  width: 80%;
  overflow: hidden;
}

#clients {
  float: right;
  height: 75%;
  width: 30%;
  /*background-color: blue;*/
  margin: auto;
}

ul {
  list-style: none;
  /*background-color: red;*/
  height: 75%;
  width: 60%;
  margin: auto;
  float: left;
  overflow: hidden;
}

h1 {
  margin-top: 25px;
}

input {
  width: 70%;
  height: 10%;
  margin-bottom: 10px;
}
